.box1 {
    height: 200px;
    width: 200px;
    background-color: aqua;
    position: relative;
    top: 500px;
}

.box2 {
    height: 200px;
    width: 200px;
    background-color: crimson;
    position: relative;
    top: 0px;
    left: 36px;
}

.box3 {
    height: 200px;
    width: 200px;
    background-color: rgb(20, 220, 183);
    position: absolute;
    left: 23px;
}